* {
    margin: 0;
    
}

body {
    background-color: #1E3E7B;
}

.logo {
    margin-left: 32px;
    width: 239px;
    height: 42px;
    
}

.header__about {
    display: flex;
    background-color: #0A1744;
    height: 117px;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}



.footer {
    
    height: 203px;
    
}

button {
    border:none;
    border-radius: 25px;
    color: #0B1741;
    letter-spacing: 2.55px;
    text-transform: uppercase;
    transition: 0.3s;
    width: 170px;
    height: 49px;
    margin-left: 35px;
}

#btn__sobre {
    background-color: var(--cyan);
}

#btn__login {
    background-color: var(--light-blue);
}

.box__fist__section {
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, #0a1744 0%, #090979 53%, #0b298c 100%);    
       
}

.fist__section {
    
    width: 80%;
    height: 1033px;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.text__box {
    margin: 133px 0 274px 0;
}

.text__title {
    font-weight: bold;
    color: #ffffff;
    font-size: 82px;
    margin-bottom: 40px;
    }

.text__about {
    color: #ffffff;
    width: 763px;
    font-size: 21px;
    line-height: 38px;
}

.img__decor {
    width: 637px;
    height: 537px;
    
}

.second__section {
    height: auto;
    background-color: #0A1744;
}

.cards__tittle {
    font-weight: bold;
    font-size: 54px;
    color: #ffffff;
}

.cards__container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

.cards__list {
    padding-top: 108px;
    padding-bottom: 188px;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
}





.cards {
    
    width: 369px;
    height: 461px;
    border-radius: 10px;
    border: 1px solid #FFFFFF24;
    box-shadow: 0px 5px 10px #5538EE14;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px 35px 40px;
    
}

.card__pic01 {
    width: 178px;
    height: 178px;
    background-image: url(https://avatars.githubusercontent.com/u/101682774?v=4);
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.card__pic02 {
    width: 178px;
    height: 178px;
    background-image: url(https://avatars.githubusercontent.com/u/101727770?v=4);
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.card__pic03 {
    width: 178px;
    height: 178px;
    background-image: url(https://avatars.githubusercontent.com/u/87840631?v=4);
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.card__pic04 {
    width: 178px;
    height: 178px;
    background-image: url(https://avatars.githubusercontent.com/u/101745105?v=4);
    background-size: 110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.card__name {
    width: 100%;
    color: #72EFDB;
    font-size: 28px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.card__text {
    width: 100%;
    color: #D9D9D9;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    
    padding-bottom: 22px;
}

.icons__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.icons__git {
    
    width: 30px;
    height: 30px;
}

.icons__mail {
    
    width: 30px;
    height: 30px;
}

.icons__linkedin {
    
    width: 30px;
    height: 30px;
}