
.main {
  width: 100%;
  min-height: 100vh;
}

.search__section {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.search__section__text {
  text-align: left;
  color: var(--text-white-first);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.title {
  font-size: 36px;
  line-height: 39px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  line-height: 22px;
}

.search__wrapper {
  padding: 15px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  align-self: center;
  column-gap: 10px;
  width: 350px;
  height: 50px;
  background-color: var(--light-blue-opaque);
}

.search__icon {
  width: 10px;
}

input[type='search'] {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-white-first);
}

input[type='search']::placeholder{
  font-size: 16px;
}

@media (min-width:768px) {
  .title {
    font-size: 45px;
  }

  .description {
    font-size: 20px;
  }
}

@media (min-width:1112px) {
  .title {
    font-size: 60px;
  }

  .description {
    font-size: 25px;
  }
}

@media (min-width:1500px) {
  .title {
    font-size: 70px;
  }

  .description {
    font-size: 30px;
  }
}

@media (min-width:1920px) {
  .search__section{
    height: 100%;
    row-gap: 190px;
  }

  .search__section__text {

    row-gap: 60px;
  }

  .title {
    font-size: 80px;
  }

  .description {
    font-size: 30px;
  }

  .search__wrapper {
    width: 1000px;
    height: 120px;
    padding: 0px 60px;
    border-radius: 60px;
  }

  form {
    width: 100%;
    height: 100%;
  }

  input{
    padding: 15px;
    width: 100%;
    height: 100%;
  }

  .search__icon {
    width: 30px;
  }

  input[type='search']::placeholder{
    font-size: 50px;
    padding: 10px;
    
  }

  
}


