
.first__class {
  width: 100%;
  min-height: 740px;
  padding: 140px 140px 0 140px;
  background-image: url('../../../public/images/backgrounds/mobile-hero-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 769px) {
  .first__class {
    background-image: url('../../../public/images/backgrounds/hero-bg.jpg');
  }
}